
<h1>Main Branch</h1>
<h1>Anjum Branch</h1>
<h1>Ricky Branch </h1>
<h2>HTML Buttons</h2>
<p>HTML buttons are defined with the button tag:</p>
<button>Click me</button>
<p>This is a paragraph.</p>
<p>This is another paragraph.</p>
